.banner-block{
  position:relative;
  bottom: 0;  
  min-height: 74vh;  
  .views-row{
    position:absolute;
    bottom: 2px;
    .title-banner{
      color: #5ABAE1;
      font-size: 5em;
      line-height: 1em;
      margin: auto;
      padding: 20px;  
    }
    .banner-description{
      font-size: 2rem;
      padding: 0 20px;
      line-height: 1.2em; 
    }
    .banner-slogan{
      // padding: 1rem;
      font-size: 1rem;
      padding: 0 20px;       
    }
  }
       	
}