.list-services{
	// background-color: red;
   // background-color: #0C2539;
   // opacity: 0.8; 
   // background-color: white;
	.list-services-container{
    display: flex;
    flex-direction: row;
    height: 600px;    
    padding: 5%;
    color: black;   
    // background-color: white;
    position: relative;
    right:  5%;
    transition: opacity .5s ease .5s,transform .5s ease;
    &:hover{
      opacity: 0.99;
      p{
        color: #5ABAE1 !important;
      }
      .list-services-info{
        background-color: #0C2539;

        transition: background .5s ease .5s,transform .5s ease;
      }
      .list-services-title, .list-services-description, .list-services-image{
        opacity: 1;
        transition: opacity .5s ease .5s,transform .5s ease;              
      }
    }
    .list-services-title{
      padding-bottom: 30px;
      color: white;
      // opacity: 0;
    }
    .list-services-description{
      padding: 20px;
      opacity: 0;

    }    
    .list-services-image{
      width: 50%;
      text-align: center;      
      position: relative;   
      opacity: 0;   
      filter: grayscale(100%);
      img{
        top: 15%;
        position: relative;
        max-width: 35%;
        background-color: transparent;
        border: 0;
      }
    }
    p{
      // color: black !important;
    }    
    .list-services-info{
      width: 50%;
      border-right: 6px solid #5ABAE1;
        .list-services-title{
          padding: 20px;
        }
        .list-services-description{
          padding: 20px;
        }      
    }   
		&:nth-child(2n) {
      color: black;
      // background-color: #CCCCCC;
      // opacity: 0.8;
      left:  5%;
      flex-direction: row-reverse;
      // left: 1px;           
      border-left: 0;      
      transition: opacity .5s ease .5s,transform .5s;
      &:hover{
        .list-services-title, .list-services-description, .list-services-image{
          opacity: 1;
          transition: opacity .5s ease .5s,transform .5s ease;      
        }     
      }      
      .list-services-info{
        left: 2px;
        border-right: 0;
        border-left: 6px solid #5ABAE1;  
        .list-services-title{
          padding: 20px;
          // opacity: 0;
        }
        .list-services-description{
          padding: 20px;
          // opacity: 0;
        }
      }
      .list-services-image{
        img{
          max-width: 70%;          
          background-color: transparent;
          border: 0;
        }
      }
		}
	}
}