.services-home{
  display: flex;
  // bottom: 0;
  @media (min-width: 992px){
    min-height: 82vh;  
  }
  
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #0C2539;
  opacity: 0.8;  
  header{
    width: 100%;
    height: auto;
  }
  .views-row{
    padding: 0 0 60px;
    // position:absolute;
    // bottom: 2px;
    // .title-banner{
    //   color: #5ABAE1;
    //   font-size: 5em;
    //   line-height: 1em;
    //   margin: auto;
    //   padding: 20px;  
    // }
    // .banner-description{
    //   font-size: 2rem;
    //   padding: 0 20px;
    //   line-height: 1.2em; 
    // }
    // .banner-slogan{
    //   // padding: 1rem;
    //   font-size: 1rem;
    //   padding: 0 20px;       
    // }
  }
       	
}