.services-home{
  display: flex;
  // bottom: 0;
  @media (min-width: 992px){
    min-height: 82vh;  
  }
  
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #0C2539;
  opacity: 0.8;  
  header{
    width: 100%;
    height: auto;
    padding: 40px;
    h1{
      color: white;
    }
  }
  .views-row{
    padding: 0 0 60px;
  }
       	
}