// Page
// -----------------------------------------------------------------------------
body { 
    opacity: 0; 
    transition: opacity 2s;
    .page__footer{
      height: 200px;
      background-color: #5ABAE1;
    } 
    .navbar{
      background-color: #000000 !important;
      justify-content: center !important;   
      .navbar-brand{
        color: #5ABAE1; 
        padding: auto 100px;  
        &:hover{
          color:#FF0;
        }
        img{
          width: 100px;
        }
      }
      .navbar-nav{     
        .nav-item{ 
          padding: 40px 0 0 0;
          .nav-link{
            font: normal normal bold 90px/1.4em raleway,sans-serif;
            font-size: 16px;
            text-transform: uppercase; 
            color: #FFFFFF;
            margin: 0 10px;
            padding: 20px 20px;
            position: relative;
            @media(min-width: 768px){
              font-size: 1vw;
            }
            &::before {
              position:absolute;
              top: 0;   
              left:0;       
              width: 100%;
              height: 2px;
              background: #FFFFFF;
              content: '';
              transition: top 0.3s;
            }
            &::after {
              position: absolute;
              top: 0;
              left: 0;
              width: 2px;
              height: 2px;
              background: #FFFFFF;
              content: '';
              transition: height 0.3s;
            }
            &:hover{
              color: #FF0;
              &::before {
                top: 100%;
                opacity: 1;
              }
              &::after{
                height: 100%;
                background: transparent;
              }
            };
          }
          /*Cube*/
          /*line-height: 44px;
          -webkit-perspective: 1000px;
          -moz-perspective: 1000px;
          perspective: 1000px;
          & span{
            position: relative;
            display: inline-block;
            padding: 0 14px;
            background: #5ABAE1;
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
            transition: transform 0.3s;
            -webkit-transform-origin: 50% 0;
            -moz-transform-origin: 50% 0;
            transform-origin: 50% 0;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            &:before{
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              height: 100%;
              background: #0965a0;
              content: attr(data-hover);
              -webkit-transition: background 0.3s;
              -moz-transition: background 0.3s;
              transition: background 0.3s;
              -webkit-transform: rotateX(-90deg);
              -moz-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
              -webkit-transform-origin: 50% 0;
              -moz-transform-origin: 50% 0;
              transform-origin: 50% 0;          
            }
            &:hover, &:focus{
              text-align: center;
              color: #ff0;
              -webkit-transform: rotateX(90deg) translateY(-22px);
              -moz-transform: rotateX(90deg) translateY(-22px);
              transform: rotateX(90deg) translateY(-22px);          
            }       
          }*/
          /*Efect door*/
          /*line-height: 2em;
          -webkit-perspective: 800px;
          -moz-perspective: 800px;
          perspective: 800px;      
          & span{
            position: relative;
            display: inline-block;
            padding: 3px 15px 0;
            background: transparent;
            box-shadow: inset 0 3px #2f4351;
            -webkit-transition: background 0.6s;
            -moz-transition: background 0.6s;
            transition: background 0.6s;
            -webkit-transform-origin: 50% 0;
            -moz-transform-origin: 50% 0;
            transform-origin: 50% 0;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transform-origin: 0% 50%;
            -moz-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
            &::before {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: #fff;
              color: #2f4351;
              content: attr(data-hover);
              -webkit-transform: rotateX(270deg);
              -moz-transform: rotateX(270deg);
              transform: rotateX(270deg);
              -webkit-transition: -webkit-transform 0.6s;
              -moz-transition: -moz-transform 0.6s;
              transition: transform 0.6s;
              -webkit-transform-origin: 0 0;
              -moz-transform-origin: 0 0;
              transform-origin: 0 0;
              pointer-events: none;
              background: #2f4351;

            }
            &:hover, &:focus{
              background: #2f4351;
              &::before{
                -webkit-transform: rotateX(10deg);  
                -moz-transform: rotateX(10deg);
                transform: rotateX(10deg);
                background: #2f4351;
                color: #FF0;
                text-align: center;
              };
            };        
          }*/  
        }
      }

      .navbar-toggler{
        background-color:#5ABAE1;
      }
      
        .navbar-collapse{
          justify-content: center;
          .mr-auto{
            @media (min-width: 1140px) {
              margin: auto !important;
            }
          }          
          @media (max-width: 992px) {
            text-align: center;
            &.show{
              height: 100vh;  
            }
          }
        }
        .search-block-form, .lang-dropdown-select-element{
          display: inline-block;
          margin: 10px 0 10px 0;
        }
      
    } 
    .first-motto{
      color: #5ABAE1;      
      text-align: center;
      text-transform: uppercase;
      font: normal normal bold 90px/1.4em raleway,sans-serif;
      font-size: 60px;
      line-height: 0.9em;
      margin: auto;      
      border-bottom: 1px solid #ff0;
      padding: 10px;     
      @media (min-width: 576px) {
        width: 65%;
        @media (min-width: 992px) {
          width: 40%;                    
        }        
      }      
    }   
    .second-motto{
      /*color: #ffffff;*/
      text-align: center;
      text-transform: uppercase;    
      font: normal normal bold 90px/1.4em raleway,sans-serif;
      font-size: 60px;
      line-height: 0.9em;
      padding: 10px 0 0 0;           
    }
    .sub-motto{
      padding: 20px 0 0 0;
      color: #ffffff;
      text-align: center;
      font: normal normal bold 90px/1.4em raleway,sans-serif;
      font-size: 25px;
      span{
        color: #5ABAE1;
      }
    } 
    .fade-text{
      opacity: 1;
      animation-name: topFadeOut;
      animation-duration: 3s; 
    }
    .btn-motto{
      text-align: center;
      padding: 10px 0 0 0;
      a{
        background-color: #ff0;
        text-transform: uppercase; 
        font: normal normal bold 90px/1.4em raleway,sans-serif;
        font-size: 20px;
        &:hover{
          opacity:0.7;
        };

      }
    }
    .home-services{
      background-color: #0C2539;
      opacity: 0.8;
      width: 100%;
      .services-line{
/*        transform-origin: center 6px;
        width: 80px;
        height: 20px;
        background-color: #FF0;  
        top: -15px; */     
      }
      h2{
        color: #ffffff;
        text-align: left;
        text-transform: uppercase;
        font: normal normal bold 90px/1.4em raleway, sans-serif;
        font-size: 60px;
        line-height: 0.9em;
        padding: 10px 0 0 0;
        margin: 10px auto 60px auto;
      }
      .quicktabs-wrapper{
        max-width: 960px;
        margin: 0 auto ;                       
        .quicktabs-tabs{
          padding-right: 15px;
          padding-left: 15px;
          padding: 30px;
          li{
            padding: 4vw;
            position: relative;
            @media(max-width: 768px){
              width: 100%;
              display: flex;
              text-align: center;
            }            
            &:before{
              content: "";
              position: absolute;
              top: 0;
              width: 50px;
              height: 20px;
              background-color: #5ABAE1;
            }
            a{
              color: white;
              text-transform: uppercase; 
              font: normal normal bold 90px/1.4em raleway,sans-serif;
              font-size: 20px;

              &:before{
                content:"< ";
              }
              &:after{
                content:" >";
              }          
            }          
            &.active{
              &:before{
                background-color: #FF0;
              }  
              a{
                color:#FF0;  
              }            
            }
                                
          }              
        }

      }
  
    }
/*    .data-services{
      display: flex;
      .views-row{
        min-width: 250px;
        min-height: 250px;
        background: red;
        margin: auto 20px 20px auto;
      }
    }*/
}
.particles-js-canvas-el{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: white;
}


.transition {
  position:absolute;
  height:100%;
  width:100%;
  background:transparent;
  z-index: 1021;
  transition:2s all ease-in-out;
}

.anim-trans {
  animation: anim 4s ease-in-out;
  }

@keyframes anim{
    0% 
    { 
      background: #5ABAE1;
    }
    100%   
    { 
      z-index:0;
      width: 0%;  
    }
}

@keyframes topFadeOut {
  0% {
    opacity: 0;
  }
  25% {
    top: 25%;
    opacity: 0;
  }
  50% {
    top: 25%;
    opacity: 0.5;
  }
  75% {
    top: 25%;
    opacity: 0.7;
  }

  100% {
    top: 25%;
    opacity: 1;
  }
}

/*Direction Aware Hover*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.boxes{
    display: block;
    position: relative; 
    width: 30%;
    height: 220px;
    background: transparent;
    border: #5ABAE1 1px solid;
    border-radius: 20px;
    overflow: hidden;
    float: left;
    margin: 1.5%;
    cursor: pointer;
    @media(max-width: 992px){
      width: 47%;
    }    
    @media(max-width: 768px){
      width: 100%;
    }
    .da-title{
      position: relative;             
      width: 100%;
      min-height: 100%;
      font: normal normal bold 90px/1.4em raleway,sans-serif;
      font-size: 26px;
      text-transform: uppercase;
      margin: 40px 12px;
       a{
        color: #ffffff;
        font-size: 16px;
       }
    }
    .da-body{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: -100%;
        color: #FFF;
        background-color: rgba(0,0,0,0.8);
        border-radius: 20px;
        z-index: 10;                
        p{
          font: normal normal bold 90px/1.4em raleway,sans-serif;
          font-size: 14px;
          position: relative;
          top: 30px;
        }
        .link-content{
          position:absolute;
          right:10px;
          bottom: 20px;
          a{
            color: #5ABAE1;
            &:hover{
              color:#FF0;
              text-decoration: solid; 
            };
          }
        }        
    }    
}



