.container-clients{
	min-height: 82vh;
	background-color: #CCCCCC;
	opacity: 0.8;
	h2{
		color: black !important;
	}
	.clients-title{
	    padding: 40px;
	}
	.clients{
		// text-align: center;
	    // border: 2px solid #5ABAE1;
	    padding: 20px;	
		position: relative;
    	// top: 8rem;
    	a{
    		margin: 20px;
			svg{
				max-width: 300px;
				filter: grayscale(100%);
				padding: 30px;
				background-color: white;
			}
			img{
				max-width: 200px;	
		    	filter: grayscale(100%);
			}
    	}	    	
		
	}
}